<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Log In Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<th:block th:include="navbar"/>
<body style="background-color: #F7F0E7" class="text-center">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="form-signin" th:action="@{/login}" method="post">
        <!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
        <!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
        <!--    <div><input type="submit" value="Sign In"/></div>-->
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">User name</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="User name" required
               autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <button style="background-color: #8E652E; border-color: #6C4D24" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        <br>
        <p class="text-center">Create an account? <a href="/signup">Sign Up</a> </p>
    </form>
</body>
</html>