<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block th:include="navbar"/>
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body class="text-center">
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form class="form-signin" th:action="@{/login}" method="post">
    <!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
    <!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
    <!--    <div><input type="submit" value="Sign In"/></div>-->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">User name</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="User name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>