<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User</title>
</head>
<body>
<th:block th:include="navbar"></th:block>
<div sec:authorize="isAuthenticated()">
    <div th:text="'User name: ' + ${user.getUsername()}"></div>
    <div th:text="'Name: ' + ${user.getFirstName()}"></div>
    <div th:text="'Last name: ' + ${user.getLastName()}"></div>
</div>
</body>
</html>